@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.menu {
  background-color: $off-white;
  width: 100%;
  border: 1px solid $grey-2;
  border-radius: 5px;
}

.option {
  @include input-style-reset;
  @include font(inherit, 20px, 500, $primary-oxford-blue-default);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  transition: opacity .5s;
  
  &:hover {
    opacity: 0.6;
  }
}
