@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.content {
  @include flex(column, $gap: 10px);
  position: relative;
  width: 100%;
  border: 5px solid;
  border-radius: 10px;
  padding: 10px;
  background: $off-white;

  &.active {
    border-color: $active-color;
  }

  &.done {
    border-color: $success-default
  }
}

.header {
  @include flex(row, space-between, $gap: 20px);
  padding-bottom: 10px;
  border-bottom: 1px solid $grey;
}

.name {
  @include input-style-reset;
  @include ellipsis;
  @include font(inherit, 24px, 600, $primary-oxford-blue-default);
  width: 50%;
}

.date {
  @include font(inherit, 20px, 500, $grey);
  font-style: italic;
  padding-right: 40px;
}

.text {
  @include font(inherit, 18px, 500, $primary-oxford-blue-default);
  @include input-style-reset;
  resize: none;
  font-style: italic;
  min-height: 50px;
}

.remove {
  @include input-style-reset;
  @include position(absolute, 12px, 12px);
  cursor: pointer;
  transition: opacity .5s;

  &:hover {
    opacity: .6;
  }
}

.footer {
  @include flex(row, space-between, center);
}

.priority {
  position: relative;
  align-self: center;
  width: 80px;
}

.priority_changer {
  @include input-style-reset;
  @include size(24px, 24px);
  cursor: pointer;
  transition: opacity .5s;

  &.decrease {
    @include position(absolute, 8px, $left: 0);
    transform: rotate(90deg)
  }

  &.increase {
    @include position(absolute, 8px, 0);
    transform: rotate(-90deg)
  }

  &:hover {
    opacity: .6;
  }
}

.priority_input {
  @include input-style-reset;
  @include font(inherit, 24px, 600, $primary-oxford-blue-default);
  @include size(100%, 40px);
  text-align: center;
}
