/* Flex-блок */
@mixin flex($direction: row, $justify-content: false, $align-items: false, $gap: false){
  display: flex;
  flex-direction: $direction;
  @if $justify-content {
    justify-content: $justify-content;
  }
  @if $align-items {
    align-items: $align-items
  }
  @if $gap {
    gap: $gap;
  }
};

/* Размеры элемента' */
@mixin size($width, $height){
  width: $width;
  height: $height;
};

/* Позиционирование элемента */
@mixin position($position, $top: false, $right: false, $bottom: false, $left: false) {
  position: $position;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}

/* Свойства шрифта и строки */
@mixin font($font-family, $font-size: inherit, $font-weight: inherit, $color: inherit){
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
};

/* Обрезание текста - эллипсис */
@mixin ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Сброс стиля инпута */
@mixin input-style-reset {
  border: none;
  padding: 0;
  background: transparent;
  outline: 0;
}

@mixin focus-border-color($color) {
  transition: border-color .5s;

  &:focus {
    border-color: $color;
  }
}
