@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.menu {
  position: relative;
}

.menu_icon{
  cursor: pointer;
  transition: opacity .5s;

  &:hover {
    opacity: .6;
  }
}

.menu_modal {
  @include position(absolute, 0, 24px);
}
